.App {
  padding: 0 80px;
}

.context-container {
  border: 1px solid #aaaaaa;
  padding: 15px;
  margin: 10px
}

button {
  border: 1px solid #cccccc;
  background: #ffffff;
  color: #444444;
  font-weight: 100;
  padding: 10px;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin: 10px;
  font-weight: 500;
  }

button:hover {
  color: #404040;
  background: #dddddd;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 0px 5px 5px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 5px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}